@media (max-width: 900px) {
  body {
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  body {
    padding: 0.2rem;
    font-size: 0.95rem;
  }
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f58c15;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.1;
}



